.burgerAll {
    z-index: 100;
    position: fixed;
}
.burgerAll a {
    margin: 5px;
    color: #ffffff;
}
.inBurger {
    display: none;
}
input[type=checkbox] {
    display: none;
}
#burgerImgLab {
    border-radius: 5px;
    background-color: antiquewhite;
    padding: 20px;
}
input:checked ~ .inBurger {
    display: block;
}
@media only screen and (min-width:768px) {
    #burgerImgLab {
        display: none;
    }
}