/* Логотип */
.LogoBG img {
    border-radius: 5px;
    position: absolute;
    left: 2px;
}
/* Навигация */
.navig {
    text-align: center;
    padding: 20px;
    background-color: #1A2238;
    transition: 0.5s;
}
.navig a {
    transition: 0.5s;
    padding: 3px;
    text-decoration: none;
    color: #ffffff;
}
/* Навигационные кнопки при наведении */
.navig a:hover {
    transition: 0.5s;
    color: #8b949e;
}
/* Настроим для устройств с другими экранами */
@media only screen and (max-width: 768px) {
    .navig a {
        display: none;
    }
    .navig {
        transition: 0.5s;
        padding: 25px;
    }
}