/* Подвал */
.podvAll {
    background-color:#1A2238 ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.podvAll a {
    color: #FF6B35;
}
/* Настроим для устройств с другими экранами */
@media only screen and (max-width:360px) {
    .podvAll {
        grid-template-columns: 1fr;
    }
}